<div class="toolbar">
 <div class="container_flex">
  <div class="toolbar_logo">
   <a [routerLink]="''">
    <img src="/assets/img/logo-a.png" class="f" alt="">
    <img src="/assets/img/logo.png" class="s" alt="">
   </a>
  </div>
  <div class="toolbar_cont">
   <div class="a">
    <a [routerLink]="''">All Products</a> 
    <div class="img">
     <img src="/assets/img/standart-leave.png" class="standartleave" alt="">
    <img src="/assets/img/hover-leave.png" alt="" class="hoverleave">
    </div>
   </div>
   <div class="a">
    <a [routerLink]="'blog'">Our Blog</a>
    <div class="img">
     <img src="/assets/img/standart-leave.png" alt="" class="standartleave">
    <img src="/assets/img/hover-leave.png" alt="" class="hoverleave">
    </div>

   </div>
  

  
  </div>
 </div>
</div>