* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Manrope';
}
.container, .container_flex  {
 width: 85%;
 margin: auto;
}
.container_flex {
 display: flex;
 justify-content: space-between;
}







